{{define "entries"}}
<table class="table" hx-table-content>
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Reason</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td>{{.Type}}</td>
            <td class="right">{{formatCurrency .Amount}}</td>
            <td class="reason">{{.Reason}}</td>
            <td class="right">{{.Timestamp.Format "02.01.2006"}}</td>
            <td class="center"><a hx-delete="/delete/{{.ID}}" class="delete" href="/delete/{{.ID}}"><span class="lnr lnr-trash"></span></a></td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}